<!DOCTYPE html>
{% extends "index.html" %}
  {% block content %}
  <p>This project consists of creating a binary classifier using multiple binary classification algorithms to assess accuracy.</p>
<br>
  <p>On the data set: It is not known what the data provided is about or what each feature means. Column names are arbitrary, making it difficult to perform feature selection.</p>

<img src="/static/images/after_dropping_var18.jpg" alt="Stats on the validation data after cleaning" width="200"
         height="80">

  {% endblock %}